table {
  border-spacing: 0;
  display: flex;
  justify-content: center;
}
th {
  border-bottom: 1px solid var(--sub-heading-color);
}
th,
td {
  padding: 2rem;
  text-align: center;
  border-collapse: collapse;
  font-size: 1.75rem;
  font-weight: 400;
}
td > a {
  padding: 0.5rem;
  font-size: 3rem;
}
