:root {
  --error-color: #c92a2a;
  --error-bubble-color: #ffa8a8;
  --edit-bubble-color: #ffc078;
  --edit-color: #ff922b;
  --submit-color: #2a5c85;
  --success-bubble-color: #8ce99a;
  --success-color: #69db7c;
  --blank-color: #fff;
  --sub-heading-color: #e9ecef;
  --link-color: #3e4247;
  --form-border: 0.25rem solid #000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "roboto", sans-serif;
}
body {
  margin-top: 15rem;
}
.logo_image {
  width: 100%;
  max-width: 6rem;
}

/* flex */
.flex_default {
  display: flex;
  justify-content: space-around;
  gap: 1.25rem;
}
.flex_column {
  flex-direction: column;
}
.flex_align_center {
  align-items: center;
}
.flex_justify_center {
  justify-content: center;
}
.flex_justify_start {
  justify-content: start;
}
/* navigation */
nav {
  position: fixed;
  width: 100%;
  top: 0rem;
  /* padding: 1.5rem 0; */
  border-bottom: 2px solid var(--sub-heading-color);
  background-color: var(--blank-color);
}
.nav_ul_list li {
  padding: 3.5rem 0;
  border-bottom: 3px solid transparent;
}
.nav_ul_list li:hover {
  border-bottom: 3px solid purple;
}

/* links */
a {
  text-decoration: none;
  color: var(--link-color);
  font-size: 1.75rem;
  padding: 1rem 2rem;
}

/* headings */
h1 {
  font-size: 4rem;
  font-weight: 500;
}

h2 {
  font-size: 2.5rem;
  font-weight: 400;
}
h3 {
  font-size: 2.5rem;
  font-weight: 400;
}
h4 {
  font-size: 1.55rem;
  font-weight: 300;
  color: #3e4247;
}

/* list */
li {
  list-style: none;
}

/* text */
p {
  font-size: 1.5rem;
}
